.building-widget {
  box-sizing: border-box;
  font: #{$font-size-base}/#{$line-height-base} $base-font-family;
  letter-spacing: 0;
  color: $base-text-color;
  background: $base-background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  button,
  a,
  input[type="submit"],
  input[type="reset"] {
    @include animates;
  }

  p {
    margin: 0 0 15px;
    @include media("≥tablet") {
      margin: 0 0 25px;
    }
    @include media("≥desktop") {
      margin: 0 0 30px;
    }
  }
}

.building-widget__container {
  max-width: 1920px;
  margin: 0 auto;
}

.building-widget__logo {
  width: 209px;
  border-bottom: 1px solid $base-border;

  img {
    margin: 0 auto;
  }
}

.building-widget__img-block {
  max-height: 1080px;
  overflow: hidden;
}

.building-widget-block {
  max-width: 440px;
  padding: 20px 24px;
  @include media ("≥tablet") {
    padding: 40px 30px 20px;
  }
  @include media ("≥desktop") {
    max-width: none;
  }
  @include media ("≥widescreen") {
    padding: 80px 60px 20px;
  }
  &:only-child {
    padding-bottom: 40px;
    @include media ("≥widescreen") {
      padding-bottom: 80px;
    }
  }
}

.building-widget-block__title {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
  color: $brand-color;
  @include media ("≥tablet") {
    font-size: 26px;
  }
}

.building-widget__floor-list {
  font-size: 14px;

  li {
    margin: 0 0 8px;
    &.active {
      button {
        color: $brand-color;
      }
    }
  }

  button {
    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
}

.building-widget__btn-back {
  padding: 9px 24px;
  color: $base-secondary-text;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: $brand-color;
    transform: rotate(45deg);
  }
}
