.building-widget-gallery {
  position: relative;
}

.building-widget-main-slider {
  max-height: 1080px;
  margin: 0 0 30px;
  overflow: hidden;

  .splide__list {
    @include media ("≤767px") {
      display: flex !important;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
    }
  }

  .splide__slide {
    @include media ("≤767px") {
      width: calc(100% - 30px);
      scroll-snap-align: start;
    }
  }
}

.building-widget-thumbs-slider {
  margin: 0 0 10px;
  @include media ("≥widescreen") {
    margin: 0;
  }

  .splide__slide {
    border: none !important;
    opacity: 0.9;
    &.is-active {
      opacity: 1;
    }
  }
}
