.building-widget-footer-box {
  max-width: 440px;
  padding: 20px 24px;
  @include media ("≥tablet") {
    padding: 30px;
  }
  @include media ("≥desktop") {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    max-width: none;
    background: $white;
  }
  @include media ("≥widescreen") {
    padding: 30px 60px;
  }
  @include media ("≥2560px") {
    position: absolute;
  }
}

.building-widget-footer-box__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  min-height: 50px;
  margin: 0 30px 12px 0;
  @include media ("≥phone-l") {
    min-width: 160px;
  }
  &:nth-child(even) {
    margin-right: 0;
  }
  &.active {
    border-width: 2px;
  }

  svg {
    width: 34px;
    height: 34px;
    margin-top: -2px;
  }
}
