.building-widget-open-close {
  position: relative;
  padding: 0 0 4px;
  border-bottom: 1px solid $base-border;
  &.building-widget-open-close--alt {
    & + .building-widget-open-close {
      border-bottom-width: 0;
    }
  }
  &[open] {

    .building-widget-open-close__opener {
      &::after {
        margin-top: -3px;
        transform: rotate(135deg);
      }
    }
  }
}

.building-widget-open-close__opener {
  position: relative;
  padding: 12px 55px 12px 0;
  list-style: none;
  font: 700 18px/1.5 $font-futura-pt-condensed;
  color: $base-secondary-text;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  &::-webkit-details-marker {
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    width: 10px;
    height: 10px;
    margin-top: -8px;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: currentColor;
    transform: rotate(-45deg);
  }
}
